/* size */
/* color */
.commonTitle {
  font-size: 14px;
  color: #332E29;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  background: #fcfbfa;
}
.m-input {
  position: relative;
  color: #332E29;
}
.m-input .ivu-input-wrapper {
  height: inherit;
}
.m-input .ivu-input-wrapper .ivu-input {
  height: inherit;
  min-height: 40px;
}
.m-input .left-icon .ivu-input {
  padding-left: 35px;
}
.m-input .right-icon .ivu-input {
  padding-right: 35px;
}
.w-select-input {
  position: relative;
}
.w-select-input .select-list {
  z-index: 999;
  padding: 8px 0;
  position: absolute;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 0;
  top: 100%;
  width: 100%;
  background: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-select-input .select-list .select-item {
  transition: all 0.1s linear;
  font-size: 14px;
  padding: 0 20px;
  line-height: 32px;
  cursor: pointer;
}
.w-select-input .select-list .select-item:hover {
  background: #f3f3f3;
}
.w-select-input .select-list .select-item.active {
  background: rgba(255, 128, 0, 0.9);
  color: white;
}
.w-select-input .select-list .select-item .high {
  color: #FF8000;
}
.ivu-input-group-append {
  padding: 4px 13px;
}
