/* size */
/* color */
.commonTitle {
  font-size: 14px;
  color: #332E29;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  background: #fcfbfa;
}
.saas-query {
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(51, 46, 41, 0.05);
}
.saas-query.intable {
  box-shadow: none;
}
.saas-query.intable .ivu-form {
  background: #fcfbfa;
  padding: 20px;
}
.saas-query.intable .query-box__btn {
  padding-top: 0;
  border: none;
}
.saas-query .query-box {
  display: flex;
  flex-wrap: wrap;
}
.saas-query .query-box.column-3 .query-box__item {
  width: 33.33%;
  max-width: 33.33%;
  padding-right: 20px;
}
.saas-query .query-box.column-3 .query-box__item:nth-child(3n) {
  padding-right: 0;
}
.saas-query .query-box__item {
  flex-grow: 1;
  width: 25%;
  max-width: 25%;
  padding-right: 20px;
}
.saas-query .query-box__item:nth-child(4n) {
  padding-right: 0;
}
.saas-query .query-box__item.ivu-form-item {
  margin-bottom: 10px;
}
.saas-query .query-box__item .ivu-input {
  padding-left: 10px;
  height: 34px;
  line-height: 34px;
}
.saas-query .query-box__item .m-input .ivu-input-wrapper .ivu-input {
  height: 34px;
}
.saas-query .query-box__item .ivu-form-item-label {
  line-height: initial;
  padding: 0;
  font-size: 14px;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #554e45;
}
.saas-query .query-box__item .ivu-form-item-content {
  margin-top: 6px;
}
.saas-query .query-box__item .ivu-date-picker {
  display: inline;
}
.saas-query .query-box__item .multiple {
  display: flex;
}
.saas-query .query-box__item .multiple__item {
  width: 50%;
  min-width: calc(50% - 10px);
  flex-grow: 1;
}
.saas-query .query-box .horizontal-line {
  width: 20px;
  text-align: center;
}
.saas-query .query-box .ivu-input-group > .ivu-input:last-child,
.saas-query .query-box .ivu-input-group-append {
  width: auto;
  min-width: 40px;
  height: 34px;
  background: #f7f4f2;
  border: 1px solid #e5e2df;
  border-left: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: #332E29;
}
.saas-query .query-box__btn {
  width: 100%;
  padding: 20px 0;
  padding-top: 10px;
  padding-right: 0;
  border-bottom: 1px solid #eee;
  text-align: right;
}
.saas-query .query-box__btn .ivu-btn-default {
  margin-right: 8px;
}
.saas-query .query-box__btn .ivu-btn {
  height: 34px;
}
